<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<!--第三方登录配置 Start-->
    <add key="OSC_Client_ID" value="1MEy0IQ7LDJIsRoC1HbG"/><!-- 客户端ID -->
    <add key="OSC_Client_Secret" value="eoFudWokmLNW8YHrqPts4RoMlUkzjhsH"/><!-- 密钥 -->
    <add key="OSC_Callback_URL" value="http://www.vaihao.com/callback/osc"/><!-- 回掉地址 -->
    
    <add key="Sina_Client_ID" value="1623273473"/><!-- 客户端ID -->
    <add key="Sina_Client_Secret" value="07173f9a07c8ac1e6d79c6cd31436288"/><!-- 密钥 -->
    <add key="Sina_Callback_URL" value="http://www.vaihao.com/callback/sina"/><!-- 回掉地址 -->
    
    <add key="QQ_Client_ID" value="101091869"/><!-- 客户端ID -->
    <add key="QQ_Client_Secret" value="c33dcec1a92783be4ea2111c7cc8b704"/><!-- 密钥 -->
    <add key="QQ_Callback_URL" value="http://www.vaihao.com/callback/qq"/><!-- 回掉地址 -->
    
    <add key="Baidu_Client_ID" value="6312129"/><!-- 客户端ID -->
    <add key="Baidu_Client_API" value="UZz2OGIni6rf5CK0hS6cblVU"/><!-- API -->
    <add key="Baidu_Client_Secret" value="EkknvSWdppKjSUtMAsnf6SOcANQe50ag"/><!-- 密钥 -->
    <add key="Baidu_Callback_URL" value="http://www.vaihao.com/callback/baidu"/><!-- 回掉地址 -->
    
    <add key="GitHub_Client_ID" value="a9ba74a7460935b6beee"/><!-- 客户端ID -->
    <add key="GitHub_Client_Secret" value="9c4fea672a0f4be195ada3f9e115569443072b3d"/><!-- 密钥 -->
    <add key="GitHub_Callback_URL" value="http://www.vaihao.com/callback/github"/><!-- 回掉地址 -->
    
    <!--Client Token 82935da54c9983c412f5980902d0805a -->
    <add key="FaceBook_Client_ID" value="1427768960882879"/><!-- 客户端IDv2.3 -->
    <add key="FaceBook_Client_Secret" value="841873851cfc545703bcc0101e64a0b9"/><!-- 密钥 -->
    <add key="FaceBook_Callback_URL" value="http://www.vaihao.com/callback/facebook"/><!-- 回掉地址 -->
    
    <add key="Twitter_Client_ID" value="a9ba74a7460935b6beee"/><!-- 客户端ID -->
    <add key="Twitter_Client_Secret" value="9c4fea672a0f4be195ada3f9e115569443072b3d"/><!-- 密钥 -->
    <add key="Twitter_Callback_URL" value="http://www.vaihao.com/callback/twitter"/><!-- 回掉地址 -->
    
    <!-- Project ID: vaihao-com Project Number: 893155422697 -->
    <add key="Google_Client_ID" value="893155422697-l6j4ml5ut8435v4mfurmki0bqivplmc6.apps.googleusercontent.com"/><!-- 客户端ID -->
    <add key="Google_Client_Secret" value="jbOxzDR_eYHigP38B-PsAPCC"/><!-- 密钥 -->
    <add key="Google_Callback_URL" value="http://www.vaihao.com/callback/google"/><!-- 回掉地址 -->
  <!--第三方登录配置 End-->
  </appSettings>
</configuration>